DATABASE_URL="postgresql://neondb_owner:password@ep-xyz.us-east-1.aws.neon.tech/neondb?sslmode=require"
ADMIN_SECRET_KEY="your-super-secret-admin-passcode"
NEXT_PUBLIC_APP_NAME="KuNaListic"
NEXT_PUBLIC_APP_TAGLINE="Where High-Impact Web Apps Come to Life"
